//.anchor-aside
.anchor-aside {
  position: fixed;
  top: 50%;
  z-index: 8;
  right: 40px;
  margin: auto;
  box-sizing: border-box;
  transform: translateY(-50%);
  @media screen and (max-width: 1680px) {
    transform: translateY(-42%);
  }

  @media screen and (max-width: $second-media) {
    display: none;
  }
}

.anchor-aside__list {
  font-size: 15px;
  counter-reset: anchor-count;
}

.anchor-aside__link:after {
  counter-increment: anchor-count;
  content: counter(anchor-count, decimal-leading-zero);
}

.anchor-aside__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.108em;
  padding-left: 1em;
  font-size: .875em;
  color: $lightgrey;
  transition: color $anim;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: currentColor;
    transform: translateX(50%) scaleX(.33);
    transition: transform $anim;
  }

  @media screen and (min-width: $second-media) {
    &:hover {
      color: rgba($brand-color, .5);

      .anchor-aside__helper {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.anchor-aside__link.active {
  color: $brand-color;

  &:before {
    transform: translateX(50%) scale(1);
  }
}

.anchor-aside__helper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  height: max-content;
  padding: .4em 1.2em;
  margin: auto;
  background: currentColor;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  font-size: .8em;
  transition: opacity $anim, visibility $anim;

  & > * {
    color: #fff;
  }
}

//.logo
.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  transition: opacity $anim, color $anim;

  &:active {
    opacity: .8;
  }

  @media screen and (min-width: $second-media) {
    &:hover svg, &:focus svg {
      stroke-dashoffset: 0;
    }
  }

  @media screen and (max-width: $third-media) {
    font-size: .7rem;
  }
}

.logo__ico {
  width: 1.55em;
  height: 1.55em;
  margin-right: .75em;

  & > svg {
    stroke: $darkbrand;
    stroke-width: 2px;
    stroke-dashoffset: 73;
    stroke-dasharray: 73;
    transition: stroke-dashoffset .5s;
  }
}

.logo__text {
  display: flex;
  font-size: 1.875em;
  text-transform: uppercase;
}

.logo__text-bold {
  font-weight: 700;
}

.logo__text-light {
  font-weight: 300;
}

//.leng-list
.header-page__leng {
  position: relative;
  z-index: 0;
}

.leng-list {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 1.5em;
  color: $white;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    width: .4em;
    height: .4em;
    border: 2px solid;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.active {
    overflow: visible;

    &:before {
      display: none;
    }

    .leng-btn {
      background-color: $darkbrand;

      &:active {
        background-color: darken($darkbrand, 20%);
      }

      @media screen and (min-width: $second-media) {
        &:hover, &:focus {
          background-color: $darkbrand;
        }
      }
    }

    .leng-list__item.active {
      .leng-btn {
        background-color: darken($darkbrand, 20%);

        &:active {
          background-color: darken($darkbrand, 30%);
        }
      }
    }
  }
}

.leng-list__item {
  margin-bottom: .3em;

  &.active {
    order: -1;
  }
}

.leng-btn {
  display: block;
  padding: .3em 1.2em;
  text-transform: uppercase;
  font-size: 0.875em;
  border-radius: .3em;
  transition: background-color $anim;

  &:active {
    background-color: darken($darkbrand, 20%);
  }

  @media screen and (min-width: $second-media) {
    &:hover, &:focus {
      background-color: $darkbrand;
    }
  }
}

//.main-title
.main-title {
  text-align: center;
  font-size: 1rem;

  &.title-sect--main {
    color: $darkbrand;
  }

  &.main-title--min {
    color: $black;

    .main-title__main {
      font-size: 2.375em;
      text-transform: none;
    }

    .main-title__sub {
      max-width: 760px;
      margin: auto;
      font-size: 1.125em;
      text-transform: none;
      font-weight: 300;
      letter-spacing: 0;
    }

    .main-title__ico {
      font-size: .6rem;
      color: $brand-color;

      &:before,
      &:after {
        width: 7em;
      }
    }

    &.inherit {
      color: inherit;

      .main-title__ico {
        color: inherit;
      }
    }
  }

  @media screen and (max-width: $third-media) {
    font-size: .6rem;
  }
}

.main-title__main {
  margin-bottom: .3em;
  font-size: 3.75em;
  font-weight: 900;
  text-transform: uppercase;
}

.main-title__sub {
  font-size: 1.875em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
}

$title-anim: .7s;
.main-title__ico {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 1.1em;
  width: 1.5em;
  height: 1.5em;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 2px;
    width: 12.5em;
    margin: auto;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform $title-anim;
  }

  &:before {
    right: calc(100% + 1.25em);
    transform-origin: right;
  }

  &:after {
    left: calc(100% + 1.25em);
    transform-origin: left;
  }

  & > svg {
    transition: transform $title-anim;
    transform: rotate(360deg);
  }

  &.active {
    & > svg {
      transform: rotate(0);
    }

    &:before,
    &:after {
      transform: scaleX(1);
    }
  }
}

//.btn
.btn {
  font-size: 1rem;
  display: inline-block;
  padding: 0 2em;
  line-height: 3.6;
  border-radius: 3em;
  font-weight: 700;
  transition: color $anim, background-color $anim, box-shadow $anim;

  &.btn--top {
    position: relative;
    box-shadow: 0 0.3em 1em 0px #48acff;
    font-size: 1.137em;
    padding: 0 3em;
    line-height: 3.8;
    letter-spacing: .075em;
    color: $white;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #4ca9ff, #00e2fa);
      border-radius: 3em;
      transition: opacity $anim;
    }

    &:active {
      color: darken(#4aabff, 20%);
    }

    @media screen and (min-width: $second-media) {
      &:hover, &:focus {
        background-color: #fff;
        box-shadow: 0 0 0 2px;
        color: #4aabff;

        &:before {
          opacity: 0;
        }
      }
    }

    @media screen and (max-width: $third-media) {
      font-size: .7rem;
    }
  }

  &.btn--fff {
    background-color: $white;
    color: $brand-color;

    &:hover, &:focus {
      color: $darkbrand;
    }

    &:active {
      color: darken($darkbrand, 10%);
    }
  }

  &.btn--blue {
    padding: 0 3em;
    background-color: $brand-color;
    line-height: 3;
    color: $white;

    &:active {
      background-color: darken($darkbrand, 10%);
    }

    @media screen and (min-width: $second-media) {
      &:hover,
      &:focus {
        background-color: $darkbrand;
      }
    }
  }
}

//.mouse
$mouse-anim: .5s;

.scroll-mouse {
  position: relative;
  width: 4.5em;
  height: 4.5em;
  display: block;
  font-size: 1rem;
  color: $darkbrand;
  margin: auto;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(100% + .5em);
    width: 1px;
    height: 3.5em;
    margin: auto;
    background-color: currentColor;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform $mouse-anim;
  }

  &.active {
    &:before {
      transform: scaleY(1);
    }

    .scroll-mouse__radius-ico > svg {
      stroke-dashoffset: 0;
    }

    .scroll-mouse__ico {
      transform: scale(1);
      opacity: 1;
    }

    .scroll-mouse__radius-ico {
      transition-delay: 0s;
      transform: scale(1) translate(-50%, -50%);
    }

    .scroll-mouse__hover-arrow {
      opacity: 1;
    }

    &:active {
      .scroll-mouse__hover {
        transition-delay: 0s;
        background-color: rgba($brand-color, .1);
      }
    }

    @media screen and (min-width: $second-media) {
      &:hover {
        .scroll-mouse__hover {
          width: 100%;
          height: 100%;
          border-color: currentColor;
          background-color: rgba($brand-color, .05);
        }

        .scroll-mouse__radius-ico {
          width: 120%;
          height: 120%;
          opacity: 0;
        }

        .scroll-mouse__hover-arrow {
          transition-delay: .5s;
          transform: translateY(0);
        }
      }
    }
  }

  @media screen and (max-width: $third-media) {
    font-size: .7rem;
  }
}

.scroll-mouse__radius-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: scale(.7) translate(-50%, -50%);
  transition: transform $mouse-anim, height $mouse-anim, width $mouse-anim, opacity $mouse-anim;
  transition-delay: $mouse-anim;

  svg {
    fill: transparent;
    stroke: currentColor;
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
    stroke-width: 3px;
    transition: stroke-dashoffset $mouse-anim;
    transition-delay: $mouse-anim;
  }
}

.scroll-mouse__ico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  transform: scale(.2);
  opacity: 0;
  transition: transform $mouse-anim, opacity $mouse-anim;
  transition-delay: $mouse-anim + .3s;
}

.scroll-mouse__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 1em;
  transition: border-color $mouse-anim, width $mouse-anim, height $mouse-anim, background-color $mouse-anim;
  transition-delay: $mouse-anim / 1.5;
}

.scroll-mouse__hover-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  opacity: 0;
  transform: translateY(-1.8em);
  transition: opacity $mouse-anim, transform $mouse-anim;
  transition-delay: $mouse-anim * 2;

  &:before {
    content: '';
    display: block;
    height: .7em;
    width: 1px;
    margin: auto;
    border-left: 1px dashed;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border: .3em solid transparent;
    border-top: .3em solid;
    will-change: transform;
  }
}

//.open-menu 
.header-page__menu.active {
  .open-menu {
    &:before {
      transform: translateY(0em) rotate(45deg);
    }

    &:after {
      transform: translateY(0em) rotate(-45deg);
    }

    & > span {
      opacity: 0;
    }
  }
}

.open-menu {
  font-size: .9px;
  position: relative;
  z-index: 13;
  width: 30em;
  height: 30em;
  color: $white;

  &:before,
  &:after,
  & > span {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: currentColor;
    transition: transform $anim, opacity $anim;
  }

  &:before {
    transform: translateY(-10em);
  }

  &:after {
    transform: translateY(10em);
  }

  @media screen and (min-width: $second-media) {
    display: none;
  }
}

//.input-item
.input-item {
  position: relative;
  display: block;
  width: 100%;
  height: 3.429em;
  border: 1px solid #00b4ff;
  border-radius: 0.357em;
  background-color: $white;
  font-size: 0.875em;
  color: $dkgrey;

  &.active {
    .input-item__text {
      opacity: 0;
    }
  }

  &.required {
    .input-item__text {
      padding-right: 10px;

      &:after {
        content: '*';
        margin-left: 5px;
        vertical-align: top;
        color: $brand-color;
      }
    }
  }

  &.input-item--area {
    height: 5.714em;

    .input-item__text {
      top: 0;
      padding: 1.2em;
      transform: none;
    }

    .input-item__input {
      padding: 1.2em;
    }
  }

  &.error {
    color: red;
    border-color: red;

    .input-item__text {
      color: inherit;
    }
  }
}

.input-item__input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 1.2em;
  background-color: transparent;
  border: none;

  &:focus ~ .input-item__text {
    opacity: 0;
  }

  @media screen and (min-width: $second-media) {
    &:hover, &:focus {
      & ~ .input-item__text {
        color: inherit;
      }
    }
  }
}

.input-item__text {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  padding-left: 1.2em;
  white-space: nowrap;
  color: lightgrey;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity $anim, color $anim;
}

////// Preloader
.preloader {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 999;

  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #FFF;
  background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
  background: radial-gradient(220% 105% at top center, #00182f 15%, #003c73 45%, #01e1fa 100%, #4ba9ff);
}

.preloader_inner{
  position: relative;
  width: 100vw;
  height: 100%;
  //top: 36%;
  left: 0;
  right: 0;
  //background-color:transparent;
  //background-image:
  //        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1, from(white), to(transparent)),
  //        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 2, from(white), to(transparent)),
  //        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 3, from(rgba(255,255,255,.99)), to(transparent)),
  //        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1, from(rgba(255,255,255,.7)), to(transparent));
  //
  ///* Background Attributes */
  //background-size:
  //        550px 550px,
  //        350px 350px,
  //        250px 270px,
  //        220px 200px;
  //background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  //
  ///* Animation */
  //animation-name: movement;
  //animation-duration: 10s;
  //animation-timing-function: linear;
  //animation-iteration-count: infinite;



}

//
//@keyframes movement
//{
//  from {
//    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
//    opacity: 1;
//  }
//  to {
//    background-position: 550px -550px, 320px -410px, 120px -540px, 150px -350px;
//    opacity: 0;
//  }
//}
//#stars {
//  width: 1px;
//  height: 1px;
//  background: transparent;
//  box-shadow: 269px 294px #FFF, 1656px 1677px #FFF, 838px 1863px #FFF, 1728px 357px #FFF, 1327px 1111px #FFF, 134px 255px #FFF, 1618px 1394px #FFF, 530px 126px #FFF, 822px 1650px #FFF, 766px 183px #FFF, 1791px 209px #FFF, 1769px 527px #FFF, 438px 1626px #FFF, 1897px 1156px #FFF, 1819px 1124px #FFF, 1322px 120px #FFF, 43px 525px #FFF, 1963px 1016px #FFF, 384px 229px #FFF, 91px 1742px #FFF, 677px 1739px #FFF, 1183px 163px #FFF, 24px 1056px #FFF, 1153px 1353px #FFF, 360px 730px #FFF, 158px 1910px #FFF, 119px 1498px #FFF, 224px 646px #FFF, 1060px 1423px #FFF, 445px 1601px #FFF, 706px 235px #FFF, 1250px 1145px #FFF, 643px 149px #FFF, 1069px 274px #FFF, 895px 1217px #FFF, 1724px 1492px #FFF, 1240px 40px #FFF, 285px 1990px #FFF, 1542px 1892px #FFF, 513px 373px #FFF, 859px 759px #FFF, 556px 1855px #FFF, 1670px 59px #FFF, 256px 1110px #FFF, 1081px 438px #FFF, 865px 1396px #FFF, 1018px 1618px #FFF, 1686px 1567px #FFF, 996px 850px #FFF, 1923px 1994px #FFF, 252px 882px #FFF, 988px 825px #FFF, 981px 1821px #FFF, 1988px 1340px #FFF, 1544px 184px #FFF, 244px 228px #FFF, 1694px 1229px #FFF, 913px 131px #FFF, 2px 1186px #FFF, 520px 988px #FFF, 1647px 793px #FFF, 1347px 616px #FFF, 1825px 959px #FFF, 1005px 1291px #FFF, 252px 348px #FFF, 431px 927px #FFF, 1119px 590px #FFF, 433px 1329px #FFF, 1184px 244px #FFF, 591px 1818px #FFF, 1677px 557px #FFF, 1634px 1340px #FFF, 1682px 36px #FFF, 368px 722px #FFF, 572px 800px #FFF, 327px 742px #FFF, 309px 17px #FFF, 1981px 908px #FFF, 718px 1233px #FFF, 619px 1934px #FFF, 1339px 497px #FFF, 329px 1929px #FFF, 1252px 1077px #FFF, 1029px 330px #FFF, 424px 859px #FFF, 1685px 673px #FFF, 771px 498px #FFF, 1117px 257px #FFF, 1312px 1516px #FFF, 1515px 170px #FFF, 791px 643px #FFF, 432px 822px #FFF, 606px 1282px #FFF, 920px 1068px #FFF, 82px 297px #FFF, 1173px 1938px #FFF, 545px 1580px #FFF, 333px 122px #FFF, 879px 1396px #FFF, 192px 787px #FFF, 1027px 1805px #FFF, 1418px 576px #FFF, 1054px 80px #FFF, 1491px 1702px #FFF, 1895px 1433px #FFF, 664px 25px #FFF, 152px 779px #FFF, 1718px 1025px #FFF, 574px 930px #FFF, 743px 1404px #FFF, 1874px 1667px #FFF, 1954px 656px #FFF, 521px 771px #FFF, 1959px 819px #FFF, 948px 1387px #FFF, 1836px 742px #FFF, 310px 1195px #FFF, 182px 950px #FFF, 1546px 501px #FFF, 1243px 1411px #FFF, 1761px 22px #FFF, 1324px 500px #FFF, 143px 1202px #FFF, 1781px 92px #FFF, 764px 597px #FFF, 1814px 356px #FFF, 712px 1043px #FFF, 1986px 1078px #FFF, 1317px 1851px #FFF, 1253px 48px #FFF, 1265px 1116px #FFF, 588px 1928px #FFF, 750px 1446px #FFF, 1487px 1420px #FFF, 429px 1456px #FFF, 874px 451px #FFF, 1635px 881px #FFF, 1007px 1142px #FFF, 1962px 1080px #FFF, 1667px 827px #FFF, 1586px 595px #FFF, 453px 1037px #FFF, 1322px 1693px #FFF, 1202px 1590px #FFF, 291px 1870px #FFF, 359px 690px #FFF, 1763px 478px #FFF, 1958px 1025px #FFF, 613px 920px #FFF, 946px 1104px #FFF, 1446px 1998px #FFF, 652px 32px #FFF, 432px 1226px #FFF, 400px 594px #FFF, 1088px 75px #FFF, 1218px 964px #FFF, 399px 896px #FFF, 53px 569px #FFF, 850px 1546px #FFF, 1719px 1592px #FFF, 1877px 1017px #FFF, 1387px 331px #FFF, 774px 1876px #FFF, 351px 766px #FFF, 585px 962px #FFF, 271px 1037px #FFF, 711px 1955px #FFF, 1764px 1167px #FFF, 1811px 861px #FFF, 236px 1907px #FFF, 538px 462px #FFF, 89px 171px #FFF, 1559px 1615px #FFF, 1911px 1080px #FFF, 1127px 140px #FFF, 1005px 881px #FFF, 978px 233px #FFF, 51px 1645px #FFF, 1425px 811px #FFF, 1167px 1610px #FFF, 1851px 379px #FFF, 609px 1195px #FFF, 439px 1299px #FFF, 990px 1507px #FFF, 1597px 797px #FFF, 170px 1804px #FFF, 121px 627px #FFF, 1352px 1464px #FFF, 374px 407px #FFF, 734px 1872px #FFF, 961px 23px #FFF, 781px 793px #FFF, 1814px 1996px #FFF, 700px 1741px #FFF, 1640px 228px #FFF, 192px 1566px #FFF, 1872px 1175px #FFF, 468px 384px #FFF, 107px 1881px #FFF, 1986px 1956px #FFF, 661px 544px #FFF, 46px 650px #FFF, 1555px 1800px #FFF, 220px 1220px #FFF, 499px 1145px #FFF, 190px 1119px #FFF, 1979px 537px #FFF, 1998px 765px #FFF, 742px 1762px #FFF, 1486px 814px #FFF, 319px 787px #FFF, 1502px 1354px #FFF, 633px 95px #FFF, 1244px 1689px #FFF, 1481px 244px #FFF, 1922px 161px #FFF, 1306px 550px #FFF, 513px 372px #FFF, 97px 1144px #FFF, 1960px 192px #FFF, 37px 1648px #FFF, 1768px 1682px #FFF, 967px 425px #FFF, 1958px 1664px #FFF, 1826px 240px #FFF, 260px 1574px #FFF, 610px 328px #FFF, 1623px 837px #FFF, 1615px 1818px #FFF, 1888px 1080px #FFF, 17px 1381px #FFF, 25px 394px #FFF, 1937px 1317px #FFF, 1435px 1530px #FFF, 1586px 1215px #FFF, 613px 836px #FFF, 311px 484px #FFF, 791px 987px #FFF, 568px 1324px #FFF, 1247px 178px #FFF, 3px 1559px #FFF, 1141px 1601px #FFF, 84px 1331px #FFF, 1523px 604px #FFF, 639px 210px #FFF, 1237px 63px #FFF, 1742px 1725px #FFF, 971px 1012px #FFF, 1876px 358px #FFF, 1264px 1021px #FFF, 1961px 1228px #FFF, 908px 528px #FFF, 1097px 1889px #FFF, 347px 1825px #FFF, 1303px 461px #FFF, 896px 517px #FFF, 1249px 126px #FFF, 90px 1352px #FFF, 738px 1611px #FFF, 1755px 373px #FFF, 167px 1550px #FFF, 1287px 1360px #FFF, 322px 246px #FFF, 1638px 1931px #FFF, 447px 1329px #FFF, 1467px 617px #FFF, 694px 1005px #FFF, 1016px 1770px #FFF, 542px 1181px #FFF, 1380px 805px #FFF, 887px 1775px #FFF, 1589px 1889px #FFF, 200px 1408px #FFF, 1556px 1402px #FFF, 1672px 788px #FFF, 3px 723px #FFF, 712px 1665px #FFF, 1614px 1641px #FFF, 949px 126px #FFF, 58px 285px #FFF, 1494px 1876px #FFF, 538px 189px #FFF, 193px 64px #FFF, 119px 1445px #FFF, 134px 1741px #FFF, 1235px 1937px #FFF, 389px 954px #FFF, 523px 1824px #FFF, 1736px 1356px #FFF, 205px 943px #FFF, 1066px 337px #FFF, 1436px 616px #FFF, 169px 781px #FFF, 758px 1511px #FFF, 572px 1508px #FFF, 375px 669px #FFF, 1578px 750px #FFF, 1565px 1212px #FFF, 383px 632px #FFF, 111px 590px #FFF, 279px 429px #FFF, 161px 135px #FFF, 533px 1137px #FFF, 923px 818px #FFF, 1771px 766px #FFF, 288px 235px #FFF, 1915px 304px #FFF, 1181px 706px #FFF, 775px 1247px #FFF, 500px 1692px #FFF, 379px 46px #FFF, 19px 144px #FFF, 463px 1825px #FFF, 578px 759px #FFF, 1651px 1082px #FFF, 1168px 87px #FFF, 484px 485px #FFF, 1833px 782px #FFF, 897px 1885px #FFF, 1023px 184px #FFF, 1690px 692px #FFF, 694px 1817px #FFF, 420px 5px #FFF, 1299px 915px #FFF, 1346px 988px #FFF, 364px 1100px #FFF, 1215px 406px #FFF, 1037px 74px #FFF, 298px 1435px #FFF, 1219px 1245px #FFF, 711px 1102px #FFF, 36px 418px #FFF, 1026px 30px #FFF, 1220px 56px #FFF, 1074px 1685px #FFF, 119px 768px #FFF, 1522px 592px #FFF, 1322px 107px #FFF, 1143px 1522px #FFF, 761px 1840px #FFF, 1282px 616px #FFF, 1705px 980px #FFF, 758px 36px #FFF, 863px 20px #FFF, 656px 608px #FFF, 1327px 1295px #FFF, 1185px 1308px #FFF, 1405px 13px #FFF, 1870px 310px #FFF, 1763px 658px #FFF, 870px 720px #FFF, 1776px 886px #FFF, 706px 40px #FFF, 1508px 1428px #FFF, 1539px 1125px #FFF, 1152px 1591px #FFF, 1317px 1135px #FFF, 778px 1702px #FFF, 281px 1010px #FFF, 1815px 1549px #FFF, 991px 809px #FFF, 1502px 49px #FFF, 559px 1154px #FFF, 744px 1244px #FFF, 81px 1445px #FFF, 98px 1298px #FFF, 1131px 279px #FFF, 713px 1184px #FFF, 941px 1062px #FFF, 1762px 1935px #FFF, 1746px 846px #FFF, 1300px 1319px #FFF, 478px 1097px #FFF, 12px 318px #FFF, 1503px 430px #FFF, 1604px 1561px #FFF, 1096px 1507px #FFF, 854px 832px #FFF, 1367px 1004px #FFF, 516px 1180px #FFF, 1572px 492px #FFF, 1086px 1218px #FFF, 929px 1098px #FFF, 642px 305px #FFF, 266px 611px #FFF, 1367px 470px #FFF, 979px 928px #FFF, 682px 16px #FFF, 13px 1964px #FFF, 1511px 449px #FFF, 128px 1742px #FFF, 92px 1204px #FFF, 59px 1112px #FFF, 1139px 893px #FFF, 1967px 903px #FFF, 1554px 172px #FFF, 47px 1566px #FFF, 347px 223px #FFF, 1321px 1652px #FFF, 859px 1944px #FFF, 1965px 1086px #FFF, 1973px 716px #FFF, 758px 1441px #FFF, 1917px 863px #FFF, 41px 181px #FFF, 1381px 799px #FFF, 642px 698px #FFF, 1404px 1105px #FFF, 1501px 956px #FFF, 146px 1610px #FFF, 515px 1888px #FFF, 1592px 1833px #FFF, 1752px 299px #FFF, 1605px 388px #FFF, 1433px 1253px #FFF, 1859px 371px #FFF, 3px 1071px #FFF, 1407px 1471px #FFF, 132px 109px #FFF, 1405px 791px #FFF, 854px 924px #FFF, 1969px 1906px #FFF, 322px 1615px #FFF, 1200px 379px #FFF, 1763px 1770px #FFF, 1384px 676px #FFF, 956px 198px #FFF, 1743px 98px #FFF, 46px 1958px #FFF, 1917px 978px #FFF, 853px 1259px #FFF, 797px 281px #FFF, 92px 1564px #FFF, 1362px 1097px #FFF, 1425px 658px #FFF, 845px 456px #FFF, 136px 962px #FFF, 1430px 259px #FFF, 578px 1334px #FFF, 1999px 88px #FFF, 741px 99px #FFF, 1944px 1795px #FFF, 1277px 966px #FFF, 1395px 752px #FFF, 464px 1567px #FFF, 1269px 1464px #FFF, 1610px 906px #FFF, 253px 1057px #FFF, 117px 483px #FFF, 1274px 511px #FFF, 572px 746px #FFF, 905px 1331px #FFF, 680px 1099px #FFF, 319px 1558px #FFF, 545px 425px #FFF, 356px 897px #FFF, 1069px 346px #FFF, 112px 774px #FFF, 73px 592px #FFF, 401px 1713px #FFF, 1534px 1609px #FFF, 671px 899px #FFF, 1295px 1364px #FFF, 983px 574px #FFF, 1173px 922px #FFF, 993px 339px #FFF, 312px 807px #FFF, 282px 23px #FFF, 1770px 541px #FFF, 1077px 86px #FFF, 759px 1526px #FFF, 1060px 32px #FFF, 1239px 1703px #FFF, 1835px 90px #FFF, 906px 1202px #FFF, 543px 431px #FFF, 1336px 241px #FFF, 1512px 1408px #FFF, 674px 1568px #FFF, 969px 838px #FFF, 1990px 1427px #FFF, 624px 1600px #FFF, 828px 1029px #FFF, 1442px 1628px #FFF, 1908px 1930px #FFF, 1156px 1571px #FFF, 47px 1187px #FFF, 1875px 1708px #FFF, 493px 771px #FFF, 67px 1662px #FFF, 1658px 1075px #FFF, 1583px 932px #FFF, 493px 1755px #FFF, 897px 555px #FFF, 758px 84px #FFF, 310px 1914px #FFF, 1749px 807px #FFF, 1677px 909px #FFF, 1808px 199px #FFF, 193px 45px #FFF, 712px 1284px #FFF, 1186px 1998px #FFF, 1221px 1893px #FFF, 1759px 1825px #FFF, 645px 330px #FFF, 1093px 1194px #FFF, 405px 621px #FFF, 724px 775px #FFF, 417px 169px #FFF, 569px 874px #FFF, 1775px 1953px #FFF, 1168px 1678px #FFF, 65px 73px #FFF, 893px 62px #FFF, 603px 441px #FFF, 1861px 1021px #FFF, 1813px 508px #FFF, 1343px 1567px #FFF, 540px 19px #FFF, 1800px 1400px #FFF, 1078px 302px #FFF, 1273px 535px #FFF, 371px 1865px #FFF, 1252px 354px #FFF, 386px 1364px #FFF, 62px 742px #FFF, 1382px 524px #FFF, 1641px 1479px #FFF, 1911px 1051px #FFF, 73px 1049px #FFF, 275px 1104px #FFF, 687px 1163px #FFF, 356px 222px #FFF, 681px 1587px #FFF, 1326px 1359px #FFF, 117px 364px #FFF, 1305px 637px #FFF, 1759px 247px #FFF, 685px 716px #FFF, 1387px 767px #FFF, 1372px 1648px #FFF, 489px 1397px #FFF, 271px 1383px #FFF, 1444px 499px #FFF, 1994px 1888px #FFF, 985px 1972px #FFF, 591px 1310px #FFF, 380px 1522px #FFF, 1557px 761px #FFF, 564px 1469px #FFF, 38px 951px #FFF, 1145px 762px #FFF, 1529px 1139px #FFF, 953px 720px #FFF, 203px 967px #FFF, 420px 1532px #FFF, 1018px 628px #FFF, 1588px 1581px #FFF, 1681px 1110px #FFF, 1752px 1581px #FFF, 491px 1650px #FFF, 1887px 623px #FFF, 1235px 1899px #FFF, 161px 502px #FFF, 52px 1930px #FFF, 1362px 14px #FFF, 1083px 12px #FFF, 135px 538px #FFF, 28px 903px #FFF, 1265px 928px #FFF, 630px 1056px #FFF, 1942px 1418px #FFF, 155px 892px #FFF, 512px 24px #FFF, 1487px 20px #FFF, 466px 1737px #FFF, 1118px 1300px #FFF, 1533px 1009px #FFF, 1481px 579px #FFF, 917px 608px #FFF, 629px 1101px #FFF, 457px 1046px #FFF, 1175px 459px #FFF, 1866px 1568px #FFF, 1088px 771px #FFF, 430px 938px #FFF, 339px 496px #FFF, 1350px 1910px #FFF, 509px 659px #FFF, 214px 1039px #FFF, 512px 620px #FFF, 472px 1398px #FFF, 1930px 1507px #FFF, 727px 1073px #FFF, 1799px 755px #FFF, 1723px 1223px #FFF, 1614px 1522px #FFF, 1470px 1018px #FFF, 1709px 1784px #FFF, 629px 1633px #FFF, 1418px 346px #FFF, 1945px 1057px #FFF, 1862px 799px #FFF, 1436px 1711px #FFF, 51px 709px #FFF, 1988px 20px #FFF, 450px 714px #FFF, 91px 1319px #FFF, 1622px 679px #FFF, 879px 424px #FFF, 1419px 1557px #FFF, 1507px 709px #FFF, 1720px 756px #FFF, 17px 1007px #FFF, 328px 1825px #FFF, 1190px 1707px #FFF, 1298px 1789px #FFF, 173px 1214px #FFF, 1947px 608px #FFF, 231px 1805px #FFF, 1318px 1456px #FFF, 200px 1981px #FFF, 472px 356px #FFF, 12px 566px #FFF, 1222px 671px #FFF, 417px 1752px #FFF, 146px 135px #FFF, 309px 1934px #FFF, 591px 698px #FFF, 1408px 1756px #FFF, 334px 172px #FFF, 65px 50px #FFF, 54px 1934px #FFF, 1246px 1224px #FFF, 641px 1552px #FFF, 1293px 1750px #FFF, 855px 171px #FFF, 1916px 604px #FFF, 1081px 1583px #FFF, 528px 406px #FFF, 728px 616px #FFF, 328px 293px #FFF, 264px 59px #FFF, 753px 1066px #FFF, 1513px 922px #FFF, 892px 1059px #FFF, 1551px 1959px #FFF, 1854px 1748px #FFF, 744px 1129px #FFF, 1815px 669px #FFF, 1662px 277px #FFF, 1431px 1122px #FFF, 786px 1091px #FFF, 65px 18px #FFF, 353px 1345px #FFF, 902px 1556px #FFF, 698px 1147px #FFF, 1732px 1127px #FFF, 1996px 292px #FFF, 339px 60px #FFF, 839px 778px #FFF, 997px 1597px #FFF, 1034px 241px #FFF, 773px 1788px #FFF, 234px 1971px #FFF, 1968px 845px #FFF, 1519px 1074px #FFF, 1247px 1869px #FFF, 1266px 433px #FFF, 1226px 1592px #FFF, 1245px 193px #FFF, 1071px 121px #FFF, 1725px 1334px #FFF, 1329px 121px #FFF, 1950px 1504px #FFF, 69px 1678px #FFF, 1580px 1650px #FFF, 346px 1389px #FFF, 398px 1359px #FFF, 435px 642px #FFF, 533px 921px #FFF, 1794px 1859px #FFF, 1883px 1399px #FFF, 140px 981px #FFF, 718px 1887px #FFF, 179px 537px #FFF, 928px 1527px #FFF, 329px 1204px #FFF, 1352px 238px #FFF, 1401px 359px #FFF, 874px 205px #FFF, 1513px 413px #FFF, 490px 1327px #FFF, 1999px 1858px #FFF, 843px 53px #FFF, 1428px 1207px #FFF, 596px 478px #FFF, 657px 1020px #FFF, 1937px 1762px #FFF, 1455px 641px #FFF;
//  animation: animStar 50s linear infinite;
//}
//
//#stars:after {
//  content: " ";
//  position: absolute;
//  top: 2000px;
//  width: 1px;
//  height: 1px;
//  background: transparent;
//  box-shadow: 269px 294px #FFF, 1656px 1677px #FFF, 838px 1863px #FFF, 1728px 357px #FFF, 1327px 1111px #FFF, 134px 255px #FFF, 1618px 1394px #FFF, 530px 126px #FFF, 822px 1650px #FFF, 766px 183px #FFF, 1791px 209px #FFF, 1769px 527px #FFF, 438px 1626px #FFF, 1897px 1156px #FFF, 1819px 1124px #FFF, 1322px 120px #FFF, 43px 525px #FFF, 1963px 1016px #FFF, 384px 229px #FFF, 91px 1742px #FFF, 677px 1739px #FFF, 1183px 163px #FFF, 24px 1056px #FFF, 1153px 1353px #FFF, 360px 730px #FFF, 158px 1910px #FFF, 119px 1498px #FFF, 224px 646px #FFF, 1060px 1423px #FFF, 445px 1601px #FFF, 706px 235px #FFF, 1250px 1145px #FFF, 643px 149px #FFF, 1069px 274px #FFF, 895px 1217px #FFF, 1724px 1492px #FFF, 1240px 40px #FFF, 285px 1990px #FFF, 1542px 1892px #FFF, 513px 373px #FFF, 859px 759px #FFF, 556px 1855px #FFF, 1670px 59px #FFF, 256px 1110px #FFF, 1081px 438px #FFF, 865px 1396px #FFF, 1018px 1618px #FFF, 1686px 1567px #FFF, 996px 850px #FFF, 1923px 1994px #FFF, 252px 882px #FFF, 988px 825px #FFF, 981px 1821px #FFF, 1988px 1340px #FFF, 1544px 184px #FFF, 244px 228px #FFF, 1694px 1229px #FFF, 913px 131px #FFF, 2px 1186px #FFF, 520px 988px #FFF, 1647px 793px #FFF, 1347px 616px #FFF, 1825px 959px #FFF, 1005px 1291px #FFF, 252px 348px #FFF, 431px 927px #FFF, 1119px 590px #FFF, 433px 1329px #FFF, 1184px 244px #FFF, 591px 1818px #FFF, 1677px 557px #FFF, 1634px 1340px #FFF, 1682px 36px #FFF, 368px 722px #FFF, 572px 800px #FFF, 327px 742px #FFF, 309px 17px #FFF, 1981px 908px #FFF, 718px 1233px #FFF, 619px 1934px #FFF, 1339px 497px #FFF, 329px 1929px #FFF, 1252px 1077px #FFF, 1029px 330px #FFF, 424px 859px #FFF, 1685px 673px #FFF, 771px 498px #FFF, 1117px 257px #FFF, 1312px 1516px #FFF, 1515px 170px #FFF, 791px 643px #FFF, 432px 822px #FFF, 606px 1282px #FFF, 920px 1068px #FFF, 82px 297px #FFF, 1173px 1938px #FFF, 545px 1580px #FFF, 333px 122px #FFF, 879px 1396px #FFF, 192px 787px #FFF, 1027px 1805px #FFF, 1418px 576px #FFF, 1054px 80px #FFF, 1491px 1702px #FFF, 1895px 1433px #FFF, 664px 25px #FFF, 152px 779px #FFF, 1718px 1025px #FFF, 574px 930px #FFF, 743px 1404px #FFF, 1874px 1667px #FFF, 1954px 656px #FFF, 521px 771px #FFF, 1959px 819px #FFF, 948px 1387px #FFF, 1836px 742px #FFF, 310px 1195px #FFF, 182px 950px #FFF, 1546px 501px #FFF, 1243px 1411px #FFF, 1761px 22px #FFF, 1324px 500px #FFF, 143px 1202px #FFF, 1781px 92px #FFF, 764px 597px #FFF, 1814px 356px #FFF, 712px 1043px #FFF, 1986px 1078px #FFF, 1317px 1851px #FFF, 1253px 48px #FFF, 1265px 1116px #FFF, 588px 1928px #FFF, 750px 1446px #FFF, 1487px 1420px #FFF, 429px 1456px #FFF, 874px 451px #FFF, 1635px 881px #FFF, 1007px 1142px #FFF, 1962px 1080px #FFF, 1667px 827px #FFF, 1586px 595px #FFF, 453px 1037px #FFF, 1322px 1693px #FFF, 1202px 1590px #FFF, 291px 1870px #FFF, 359px 690px #FFF, 1763px 478px #FFF, 1958px 1025px #FFF, 613px 920px #FFF, 946px 1104px #FFF, 1446px 1998px #FFF, 652px 32px #FFF, 432px 1226px #FFF, 400px 594px #FFF, 1088px 75px #FFF, 1218px 964px #FFF, 399px 896px #FFF, 53px 569px #FFF, 850px 1546px #FFF, 1719px 1592px #FFF, 1877px 1017px #FFF, 1387px 331px #FFF, 774px 1876px #FFF, 351px 766px #FFF, 585px 962px #FFF, 271px 1037px #FFF, 711px 1955px #FFF, 1764px 1167px #FFF, 1811px 861px #FFF, 236px 1907px #FFF, 538px 462px #FFF, 89px 171px #FFF, 1559px 1615px #FFF, 1911px 1080px #FFF, 1127px 140px #FFF, 1005px 881px #FFF, 978px 233px #FFF, 51px 1645px #FFF, 1425px 811px #FFF, 1167px 1610px #FFF, 1851px 379px #FFF, 609px 1195px #FFF, 439px 1299px #FFF, 990px 1507px #FFF, 1597px 797px #FFF, 170px 1804px #FFF, 121px 627px #FFF, 1352px 1464px #FFF, 374px 407px #FFF, 734px 1872px #FFF, 961px 23px #FFF, 781px 793px #FFF, 1814px 1996px #FFF, 700px 1741px #FFF, 1640px 228px #FFF, 192px 1566px #FFF, 1872px 1175px #FFF, 468px 384px #FFF, 107px 1881px #FFF, 1986px 1956px #FFF, 661px 544px #FFF, 46px 650px #FFF, 1555px 1800px #FFF, 220px 1220px #FFF, 499px 1145px #FFF, 190px 1119px #FFF, 1979px 537px #FFF, 1998px 765px #FFF, 742px 1762px #FFF, 1486px 814px #FFF, 319px 787px #FFF, 1502px 1354px #FFF, 633px 95px #FFF, 1244px 1689px #FFF, 1481px 244px #FFF, 1922px 161px #FFF, 1306px 550px #FFF, 513px 372px #FFF, 97px 1144px #FFF, 1960px 192px #FFF, 37px 1648px #FFF, 1768px 1682px #FFF, 967px 425px #FFF, 1958px 1664px #FFF, 1826px 240px #FFF, 260px 1574px #FFF, 610px 328px #FFF, 1623px 837px #FFF, 1615px 1818px #FFF, 1888px 1080px #FFF, 17px 1381px #FFF, 25px 394px #FFF, 1937px 1317px #FFF, 1435px 1530px #FFF, 1586px 1215px #FFF, 613px 836px #FFF, 311px 484px #FFF, 791px 987px #FFF, 568px 1324px #FFF, 1247px 178px #FFF, 3px 1559px #FFF, 1141px 1601px #FFF, 84px 1331px #FFF, 1523px 604px #FFF, 639px 210px #FFF, 1237px 63px #FFF, 1742px 1725px #FFF, 971px 1012px #FFF, 1876px 358px #FFF, 1264px 1021px #FFF, 1961px 1228px #FFF, 908px 528px #FFF, 1097px 1889px #FFF, 347px 1825px #FFF, 1303px 461px #FFF, 896px 517px #FFF, 1249px 126px #FFF, 90px 1352px #FFF, 738px 1611px #FFF, 1755px 373px #FFF, 167px 1550px #FFF, 1287px 1360px #FFF, 322px 246px #FFF, 1638px 1931px #FFF, 447px 1329px #FFF, 1467px 617px #FFF, 694px 1005px #FFF, 1016px 1770px #FFF, 542px 1181px #FFF, 1380px 805px #FFF, 887px 1775px #FFF, 1589px 1889px #FFF, 200px 1408px #FFF, 1556px 1402px #FFF, 1672px 788px #FFF, 3px 723px #FFF, 712px 1665px #FFF, 1614px 1641px #FFF, 949px 126px #FFF, 58px 285px #FFF, 1494px 1876px #FFF, 538px 189px #FFF, 193px 64px #FFF, 119px 1445px #FFF, 134px 1741px #FFF, 1235px 1937px #FFF, 389px 954px #FFF, 523px 1824px #FFF, 1736px 1356px #FFF, 205px 943px #FFF, 1066px 337px #FFF, 1436px 616px #FFF, 169px 781px #FFF, 758px 1511px #FFF, 572px 1508px #FFF, 375px 669px #FFF, 1578px 750px #FFF, 1565px 1212px #FFF, 383px 632px #FFF, 111px 590px #FFF, 279px 429px #FFF, 161px 135px #FFF, 533px 1137px #FFF, 923px 818px #FFF, 1771px 766px #FFF, 288px 235px #FFF, 1915px 304px #FFF, 1181px 706px #FFF, 775px 1247px #FFF, 500px 1692px #FFF, 379px 46px #FFF, 19px 144px #FFF, 463px 1825px #FFF, 578px 759px #FFF, 1651px 1082px #FFF, 1168px 87px #FFF, 484px 485px #FFF, 1833px 782px #FFF, 897px 1885px #FFF, 1023px 184px #FFF, 1690px 692px #FFF, 694px 1817px #FFF, 420px 5px #FFF, 1299px 915px #FFF, 1346px 988px #FFF, 364px 1100px #FFF, 1215px 406px #FFF, 1037px 74px #FFF, 298px 1435px #FFF, 1219px 1245px #FFF, 711px 1102px #FFF, 36px 418px #FFF, 1026px 30px #FFF, 1220px 56px #FFF, 1074px 1685px #FFF, 119px 768px #FFF, 1522px 592px #FFF, 1322px 107px #FFF, 1143px 1522px #FFF, 761px 1840px #FFF, 1282px 616px #FFF, 1705px 980px #FFF, 758px 36px #FFF, 863px 20px #FFF, 656px 608px #FFF, 1327px 1295px #FFF, 1185px 1308px #FFF, 1405px 13px #FFF, 1870px 310px #FFF, 1763px 658px #FFF, 870px 720px #FFF, 1776px 886px #FFF, 706px 40px #FFF, 1508px 1428px #FFF, 1539px 1125px #FFF, 1152px 1591px #FFF, 1317px 1135px #FFF, 778px 1702px #FFF, 281px 1010px #FFF, 1815px 1549px #FFF, 991px 809px #FFF, 1502px 49px #FFF, 559px 1154px #FFF, 744px 1244px #FFF, 81px 1445px #FFF, 98px 1298px #FFF, 1131px 279px #FFF, 713px 1184px #FFF, 941px 1062px #FFF, 1762px 1935px #FFF, 1746px 846px #FFF, 1300px 1319px #FFF, 478px 1097px #FFF, 12px 318px #FFF, 1503px 430px #FFF, 1604px 1561px #FFF, 1096px 1507px #FFF, 854px 832px #FFF, 1367px 1004px #FFF, 516px 1180px #FFF, 1572px 492px #FFF, 1086px 1218px #FFF, 929px 1098px #FFF, 642px 305px #FFF, 266px 611px #FFF, 1367px 470px #FFF, 979px 928px #FFF, 682px 16px #FFF, 13px 1964px #FFF, 1511px 449px #FFF, 128px 1742px #FFF, 92px 1204px #FFF, 59px 1112px #FFF, 1139px 893px #FFF, 1967px 903px #FFF, 1554px 172px #FFF, 47px 1566px #FFF, 347px 223px #FFF, 1321px 1652px #FFF, 859px 1944px #FFF, 1965px 1086px #FFF, 1973px 716px #FFF, 758px 1441px #FFF, 1917px 863px #FFF, 41px 181px #FFF, 1381px 799px #FFF, 642px 698px #FFF, 1404px 1105px #FFF, 1501px 956px #FFF, 146px 1610px #FFF, 515px 1888px #FFF, 1592px 1833px #FFF, 1752px 299px #FFF, 1605px 388px #FFF, 1433px 1253px #FFF, 1859px 371px #FFF, 3px 1071px #FFF, 1407px 1471px #FFF, 132px 109px #FFF, 1405px 791px #FFF, 854px 924px #FFF, 1969px 1906px #FFF, 322px 1615px #FFF, 1200px 379px #FFF, 1763px 1770px #FFF, 1384px 676px #FFF, 956px 198px #FFF, 1743px 98px #FFF, 46px 1958px #FFF, 1917px 978px #FFF, 853px 1259px #FFF, 797px 281px #FFF, 92px 1564px #FFF, 1362px 1097px #FFF, 1425px 658px #FFF, 845px 456px #FFF, 136px 962px #FFF, 1430px 259px #FFF, 578px 1334px #FFF, 1999px 88px #FFF, 741px 99px #FFF, 1944px 1795px #FFF, 1277px 966px #FFF, 1395px 752px #FFF, 464px 1567px #FFF, 1269px 1464px #FFF, 1610px 906px #FFF, 253px 1057px #FFF, 117px 483px #FFF, 1274px 511px #FFF, 572px 746px #FFF, 905px 1331px #FFF, 680px 1099px #FFF, 319px 1558px #FFF, 545px 425px #FFF, 356px 897px #FFF, 1069px 346px #FFF, 112px 774px #FFF, 73px 592px #FFF, 401px 1713px #FFF, 1534px 1609px #FFF, 671px 899px #FFF, 1295px 1364px #FFF, 983px 574px #FFF, 1173px 922px #FFF, 993px 339px #FFF, 312px 807px #FFF, 282px 23px #FFF, 1770px 541px #FFF, 1077px 86px #FFF, 759px 1526px #FFF, 1060px 32px #FFF, 1239px 1703px #FFF, 1835px 90px #FFF, 906px 1202px #FFF, 543px 431px #FFF, 1336px 241px #FFF, 1512px 1408px #FFF, 674px 1568px #FFF, 969px 838px #FFF, 1990px 1427px #FFF, 624px 1600px #FFF, 828px 1029px #FFF, 1442px 1628px #FFF, 1908px 1930px #FFF, 1156px 1571px #FFF, 47px 1187px #FFF, 1875px 1708px #FFF, 493px 771px #FFF, 67px 1662px #FFF, 1658px 1075px #FFF, 1583px 932px #FFF, 493px 1755px #FFF, 897px 555px #FFF, 758px 84px #FFF, 310px 1914px #FFF, 1749px 807px #FFF, 1677px 909px #FFF, 1808px 199px #FFF, 193px 45px #FFF, 712px 1284px #FFF, 1186px 1998px #FFF, 1221px 1893px #FFF, 1759px 1825px #FFF, 645px 330px #FFF, 1093px 1194px #FFF, 405px 621px #FFF, 724px 775px #FFF, 417px 169px #FFF, 569px 874px #FFF, 1775px 1953px #FFF, 1168px 1678px #FFF, 65px 73px #FFF, 893px 62px #FFF, 603px 441px #FFF, 1861px 1021px #FFF, 1813px 508px #FFF, 1343px 1567px #FFF, 540px 19px #FFF, 1800px 1400px #FFF, 1078px 302px #FFF, 1273px 535px #FFF, 371px 1865px #FFF, 1252px 354px #FFF, 386px 1364px #FFF, 62px 742px #FFF, 1382px 524px #FFF, 1641px 1479px #FFF, 1911px 1051px #FFF, 73px 1049px #FFF, 275px 1104px #FFF, 687px 1163px #FFF, 356px 222px #FFF, 681px 1587px #FFF, 1326px 1359px #FFF, 117px 364px #FFF, 1305px 637px #FFF, 1759px 247px #FFF, 685px 716px #FFF, 1387px 767px #FFF, 1372px 1648px #FFF, 489px 1397px #FFF, 271px 1383px #FFF, 1444px 499px #FFF, 1994px 1888px #FFF, 985px 1972px #FFF, 591px 1310px #FFF, 380px 1522px #FFF, 1557px 761px #FFF, 564px 1469px #FFF, 38px 951px #FFF, 1145px 762px #FFF, 1529px 1139px #FFF, 953px 720px #FFF, 203px 967px #FFF, 420px 1532px #FFF, 1018px 628px #FFF, 1588px 1581px #FFF, 1681px 1110px #FFF, 1752px 1581px #FFF, 491px 1650px #FFF, 1887px 623px #FFF, 1235px 1899px #FFF, 161px 502px #FFF, 52px 1930px #FFF, 1362px 14px #FFF, 1083px 12px #FFF, 135px 538px #FFF, 28px 903px #FFF, 1265px 928px #FFF, 630px 1056px #FFF, 1942px 1418px #FFF, 155px 892px #FFF, 512px 24px #FFF, 1487px 20px #FFF, 466px 1737px #FFF, 1118px 1300px #FFF, 1533px 1009px #FFF, 1481px 579px #FFF, 917px 608px #FFF, 629px 1101px #FFF, 457px 1046px #FFF, 1175px 459px #FFF, 1866px 1568px #FFF, 1088px 771px #FFF, 430px 938px #FFF, 339px 496px #FFF, 1350px 1910px #FFF, 509px 659px #FFF, 214px 1039px #FFF, 512px 620px #FFF, 472px 1398px #FFF, 1930px 1507px #FFF, 727px 1073px #FFF, 1799px 755px #FFF, 1723px 1223px #FFF, 1614px 1522px #FFF, 1470px 1018px #FFF, 1709px 1784px #FFF, 629px 1633px #FFF, 1418px 346px #FFF, 1945px 1057px #FFF, 1862px 799px #FFF, 1436px 1711px #FFF, 51px 709px #FFF, 1988px 20px #FFF, 450px 714px #FFF, 91px 1319px #FFF, 1622px 679px #FFF, 879px 424px #FFF, 1419px 1557px #FFF, 1507px 709px #FFF, 1720px 756px #FFF, 17px 1007px #FFF, 328px 1825px #FFF, 1190px 1707px #FFF, 1298px 1789px #FFF, 173px 1214px #FFF, 1947px 608px #FFF, 231px 1805px #FFF, 1318px 1456px #FFF, 200px 1981px #FFF, 472px 356px #FFF, 12px 566px #FFF, 1222px 671px #FFF, 417px 1752px #FFF, 146px 135px #FFF, 309px 1934px #FFF, 591px 698px #FFF, 1408px 1756px #FFF, 334px 172px #FFF, 65px 50px #FFF, 54px 1934px #FFF, 1246px 1224px #FFF, 641px 1552px #FFF, 1293px 1750px #FFF, 855px 171px #FFF, 1916px 604px #FFF, 1081px 1583px #FFF, 528px 406px #FFF, 728px 616px #FFF, 328px 293px #FFF, 264px 59px #FFF, 753px 1066px #FFF, 1513px 922px #FFF, 892px 1059px #FFF, 1551px 1959px #FFF, 1854px 1748px #FFF, 744px 1129px #FFF, 1815px 669px #FFF, 1662px 277px #FFF, 1431px 1122px #FFF, 786px 1091px #FFF, 65px 18px #FFF, 353px 1345px #FFF, 902px 1556px #FFF, 698px 1147px #FFF, 1732px 1127px #FFF, 1996px 292px #FFF, 339px 60px #FFF, 839px 778px #FFF, 997px 1597px #FFF, 1034px 241px #FFF, 773px 1788px #FFF, 234px 1971px #FFF, 1968px 845px #FFF, 1519px 1074px #FFF, 1247px 1869px #FFF, 1266px 433px #FFF, 1226px 1592px #FFF, 1245px 193px #FFF, 1071px 121px #FFF, 1725px 1334px #FFF, 1329px 121px #FFF, 1950px 1504px #FFF, 69px 1678px #FFF, 1580px 1650px #FFF, 346px 1389px #FFF, 398px 1359px #FFF, 435px 642px #FFF, 533px 921px #FFF, 1794px 1859px #FFF, 1883px 1399px #FFF, 140px 981px #FFF, 718px 1887px #FFF, 179px 537px #FFF, 928px 1527px #FFF, 329px 1204px #FFF, 1352px 238px #FFF, 1401px 359px #FFF, 874px 205px #FFF, 1513px 413px #FFF, 490px 1327px #FFF, 1999px 1858px #FFF, 843px 53px #FFF, 1428px 1207px #FFF, 596px 478px #FFF, 657px 1020px #FFF, 1937px 1762px #FFF, 1455px 641px #FFF;
//}
//
//#stars2 {
//  width: 2px;
//  height: 2px;
//  background: transparent;
//  box-shadow: 535px 49px #FFF, 1910px 1804px #FFF, 964px 341px #FFF, 921px 622px #FFF, 433px 1004px #FFF, 1399px 256px #FFF, 1996px 1197px #FFF, 1057px 1064px #FFF, 1403px 1564px #FFF, 835px 1913px #FFF, 1128px 320px #FFF, 1526px 46px #FFF, 221px 1616px #FFF, 461px 788px #FFF, 795px 291px #FFF, 1002px 1268px #FFF, 1965px 749px #FFF, 1728px 1449px #FFF, 1742px 660px #FFF, 1691px 876px #FFF, 238px 1428px #FFF, 187px 1309px #FFF, 1304px 1440px #FFF, 600px 577px #FFF, 1049px 257px #FFF, 1463px 698px #FFF, 1779px 1688px #FFF, 1460px 458px #FFF, 1303px 340px #FFF, 1686px 1539px #FFF, 414px 907px #FFF, 1127px 1686px #FFF, 1890px 936px #FFF, 568px 1279px #FFF, 1491px 1433px #FFF, 606px 1215px #FFF, 1062px 88px #FFF, 1335px 745px #FFF, 1535px 914px #FFF, 1224px 948px #FFF, 686px 1613px #FFF, 207px 676px #FFF, 41px 1185px #FFF, 1122px 639px #FFF, 1046px 578px #FFF, 1018px 376px #FFF, 828px 750px #FFF, 757px 1673px #FFF, 1100px 1145px #FFF, 573px 610px #FFF, 1032px 1452px #FFF, 1698px 764px #FFF, 356px 399px #FFF, 1753px 1471px #FFF, 1733px 945px #FFF, 474px 1306px #FFF, 712px 1647px #FFF, 653px 1140px #FFF, 668px 1355px #FFF, 249px 941px #FFF, 829px 1581px #FFF, 779px 902px #FFF, 1614px 676px #FFF, 1557px 1666px #FFF, 1611px 779px #FFF, 1120px 236px #FFF, 1206px 1246px #FFF, 1996px 291px #FFF, 225px 832px #FFF, 730px 1357px #FFF, 800px 545px #FFF, 83px 952px #FFF, 53px 131px #FFF, 276px 1592px #FFF, 771px 1365px #FFF, 1062px 747px #FFF, 677px 80px #FFF, 1994px 1829px #FFF, 1419px 359px #FFF, 1598px 1364px #FFF, 347px 1419px #FFF, 607px 1617px #FFF, 731px 138px #FFF, 133px 1358px #FFF, 1501px 481px #FFF, 455px 1540px #FFF, 1782px 343px #FFF, 1494px 1211px #FFF, 1440px 1196px #FFF, 321px 570px #FFF, 1934px 1817px #FFF, 36px 125px #FFF, 201px 1486px #FFF, 1134px 1210px #FFF, 1753px 1649px #FFF, 1687px 362px #FFF, 1546px 1209px #FFF, 1908px 1000px #FFF, 626px 1567px #FFF, 1835px 441px #FFF, 58px 1583px #FFF, 386px 1178px #FFF, 1363px 1517px #FFF, 1080px 470px #FFF, 30px 1809px #FFF, 942px 120px #FFF, 992px 1078px #FFF, 223px 1296px #FFF, 1501px 970px #FFF, 1692px 269px #FFF, 93px 1158px #FFF, 651px 399px #FFF, 780px 1012px #FFF, 83px 1507px #FFF, 560px 647px #FFF, 1420px 1219px #FFF, 827px 1972px #FFF, 749px 1206px #FFF, 1676px 1361px #FFF, 933px 513px #FFF, 346px 1122px #FFF, 1222px 1256px #FFF, 1528px 450px #FFF, 1069px 1933px #FFF, 74px 1964px #FFF, 796px 335px #FFF, 125px 564px #FFF, 36px 1794px #FFF, 1790px 1689px #FFF, 1888px 344px #FFF, 327px 639px #FFF, 1231px 1976px #FFF, 1657px 370px #FFF, 689px 48px #FFF, 1009px 1064px #FFF, 990px 90px #FFF, 118px 1234px #FFF, 1849px 1137px #FFF, 1409px 1004px #FFF, 1190px 670px #FFF, 710px 1112px #FFF, 901px 1085px #FFF, 559px 1140px #FFF, 561px 322px #FFF, 1275px 115px #FFF, 571px 355px #FFF, 757px 506px #FFF, 1281px 1791px #FFF, 509px 709px #FFF, 457px 1453px #FFF, 375px 1758px #FFF, 949px 731px #FFF, 1449px 1660px #FFF, 1383px 773px #FFF, 657px 1694px #FFF, 106px 299px #FFF, 1756px 1893px #FFF, 261px 626px #FFF, 574px 1818px #FFF, 620px 346px #FFF, 1679px 69px #FFF, 786px 1533px #FFF, 1520px 191px #FFF, 1014px 1474px #FFF, 518px 153px #FFF, 1052px 377px #FFF, 1374px 1003px #FFF, 1161px 233px #FFF, 40px 892px #FFF, 1153px 1021px #FFF, 301px 34px #FFF, 20px 469px #FFF, 637px 1288px #FFF, 1956px 645px #FFF, 1628px 10px #FFF, 1304px 1323px #FFF, 1298px 1552px #FFF, 919px 1267px #FFF, 633px 100px #FFF, 1994px 1546px #FFF, 740px 184px #FFF, 1480px 1411px #FFF, 947px 968px #FFF, 1648px 1340px #FFF, 152px 1588px #FFF, 1399px 1754px #FFF, 1272px 1687px #FFF, 9px 1535px #FFF, 1365px 1934px #FFF, 248px 474px #FFF, 1575px 1686px #FFF, 585px 1470px #FFF, 75px 942px #FFF, 1453px 1839px #FFF, 698px 1376px #FFF, 1109px 1338px #FFF, 1933px 1810px #FFF, 724px 1764px #FFF, 1238px 749px #FFF, 1255px 1675px #FFF;
//  animation: animStar 100s linear infinite;
//}
//
//#stars2:after {
//  content: " ";
//  position: absolute;
//  top: 2000px;
//  width: 2px;
//  height: 2px;
//  background: transparent;
//  box-shadow: 535px 49px #FFF, 1910px 1804px #FFF, 964px 341px #FFF, 921px 622px #FFF, 433px 1004px #FFF, 1399px 256px #FFF, 1996px 1197px #FFF, 1057px 1064px #FFF, 1403px 1564px #FFF, 835px 1913px #FFF, 1128px 320px #FFF, 1526px 46px #FFF, 221px 1616px #FFF, 461px 788px #FFF, 795px 291px #FFF, 1002px 1268px #FFF, 1965px 749px #FFF, 1728px 1449px #FFF, 1742px 660px #FFF, 1691px 876px #FFF, 238px 1428px #FFF, 187px 1309px #FFF, 1304px 1440px #FFF, 600px 577px #FFF, 1049px 257px #FFF, 1463px 698px #FFF, 1779px 1688px #FFF, 1460px 458px #FFF, 1303px 340px #FFF, 1686px 1539px #FFF, 414px 907px #FFF, 1127px 1686px #FFF, 1890px 936px #FFF, 568px 1279px #FFF, 1491px 1433px #FFF, 606px 1215px #FFF, 1062px 88px #FFF, 1335px 745px #FFF, 1535px 914px #FFF, 1224px 948px #FFF, 686px 1613px #FFF, 207px 676px #FFF, 41px 1185px #FFF, 1122px 639px #FFF, 1046px 578px #FFF, 1018px 376px #FFF, 828px 750px #FFF, 757px 1673px #FFF, 1100px 1145px #FFF, 573px 610px #FFF, 1032px 1452px #FFF, 1698px 764px #FFF, 356px 399px #FFF, 1753px 1471px #FFF, 1733px 945px #FFF, 474px 1306px #FFF, 712px 1647px #FFF, 653px 1140px #FFF, 668px 1355px #FFF, 249px 941px #FFF, 829px 1581px #FFF, 779px 902px #FFF, 1614px 676px #FFF, 1557px 1666px #FFF, 1611px 779px #FFF, 1120px 236px #FFF, 1206px 1246px #FFF, 1996px 291px #FFF, 225px 832px #FFF, 730px 1357px #FFF, 800px 545px #FFF, 83px 952px #FFF, 53px 131px #FFF, 276px 1592px #FFF, 771px 1365px #FFF, 1062px 747px #FFF, 677px 80px #FFF, 1994px 1829px #FFF, 1419px 359px #FFF, 1598px 1364px #FFF, 347px 1419px #FFF, 607px 1617px #FFF, 731px 138px #FFF, 133px 1358px #FFF, 1501px 481px #FFF, 455px 1540px #FFF, 1782px 343px #FFF, 1494px 1211px #FFF, 1440px 1196px #FFF, 321px 570px #FFF, 1934px 1817px #FFF, 36px 125px #FFF, 201px 1486px #FFF, 1134px 1210px #FFF, 1753px 1649px #FFF, 1687px 362px #FFF, 1546px 1209px #FFF, 1908px 1000px #FFF, 626px 1567px #FFF, 1835px 441px #FFF, 58px 1583px #FFF, 386px 1178px #FFF, 1363px 1517px #FFF, 1080px 470px #FFF, 30px 1809px #FFF, 942px 120px #FFF, 992px 1078px #FFF, 223px 1296px #FFF, 1501px 970px #FFF, 1692px 269px #FFF, 93px 1158px #FFF, 651px 399px #FFF, 780px 1012px #FFF, 83px 1507px #FFF, 560px 647px #FFF, 1420px 1219px #FFF, 827px 1972px #FFF, 749px 1206px #FFF, 1676px 1361px #FFF, 933px 513px #FFF, 346px 1122px #FFF, 1222px 1256px #FFF, 1528px 450px #FFF, 1069px 1933px #FFF, 74px 1964px #FFF, 796px 335px #FFF, 125px 564px #FFF, 36px 1794px #FFF, 1790px 1689px #FFF, 1888px 344px #FFF, 327px 639px #FFF, 1231px 1976px #FFF, 1657px 370px #FFF, 689px 48px #FFF, 1009px 1064px #FFF, 990px 90px #FFF, 118px 1234px #FFF, 1849px 1137px #FFF, 1409px 1004px #FFF, 1190px 670px #FFF, 710px 1112px #FFF, 901px 1085px #FFF, 559px 1140px #FFF, 561px 322px #FFF, 1275px 115px #FFF, 571px 355px #FFF, 757px 506px #FFF, 1281px 1791px #FFF, 509px 709px #FFF, 457px 1453px #FFF, 375px 1758px #FFF, 949px 731px #FFF, 1449px 1660px #FFF, 1383px 773px #FFF, 657px 1694px #FFF, 106px 299px #FFF, 1756px 1893px #FFF, 261px 626px #FFF, 574px 1818px #FFF, 620px 346px #FFF, 1679px 69px #FFF, 786px 1533px #FFF, 1520px 191px #FFF, 1014px 1474px #FFF, 518px 153px #FFF, 1052px 377px #FFF, 1374px 1003px #FFF, 1161px 233px #FFF, 40px 892px #FFF, 1153px 1021px #FFF, 301px 34px #FFF, 20px 469px #FFF, 637px 1288px #FFF, 1956px 645px #FFF, 1628px 10px #FFF, 1304px 1323px #FFF, 1298px 1552px #FFF, 919px 1267px #FFF, 633px 100px #FFF, 1994px 1546px #FFF, 740px 184px #FFF, 1480px 1411px #FFF, 947px 968px #FFF, 1648px 1340px #FFF, 152px 1588px #FFF, 1399px 1754px #FFF, 1272px 1687px #FFF, 9px 1535px #FFF, 1365px 1934px #FFF, 248px 474px #FFF, 1575px 1686px #FFF, 585px 1470px #FFF, 75px 942px #FFF, 1453px 1839px #FFF, 698px 1376px #FFF, 1109px 1338px #FFF, 1933px 1810px #FFF, 724px 1764px #FFF, 1238px 749px #FFF, 1255px 1675px #FFF;
//}
//
//#stars3 {
//  width: 3px;
//  height: 3px;
//  background: transparent;
//  box-shadow: 1519px 38px #FFF, 1278px 529px #FFF, 1026px 1173px #FFF, 1736px 586px #FFF, 521px 856px #FFF, 1281px 360px #FFF, 1692px 758px #FFF, 1982px 1793px #FFF, 1315px 1783px #FFF, 593px 938px #FFF, 376px 517px #FFF, 260px 1737px #FFF, 1696px 1725px #FFF, 1200px 496px #FFF, 83px 771px #FFF, 1639px 1495px #FFF, 664px 919px #FFF, 987px 1810px #FFF, 1448px 202px #FFF, 55px 1585px #FFF, 1778px 1181px #FFF, 1948px 472px #FFF, 1750px 370px #FFF, 549px 1624px #FFF, 486px 1826px #FFF, 1642px 893px #FFF, 142px 1811px #FFF, 697px 1404px #FFF, 704px 268px #FFF, 1870px 1420px #FFF, 595px 123px #FFF, 618px 907px #FFF, 1105px 32px #FFF, 844px 1978px #FFF, 602px 915px #FFF, 442px 1671px #FFF, 1497px 175px #FFF, 673px 534px #FFF, 164px 1259px #FFF, 419px 15px #FFF, 1248px 1323px #FFF, 733px 375px #FFF, 800px 633px #FFF, 273px 119px #FFF, 1903px 1327px #FFF, 1296px 992px #FFF, 964px 309px #FFF, 1172px 116px #FFF, 229px 53px #FFF, 1061px 819px #FFF, 1438px 1640px #FFF, 567px 314px #FFF, 385px 1725px #FFF, 953px 1725px #FFF, 1110px 58px #FFF, 1603px 1128px #FFF, 443px 88px #FFF, 771px 330px #FFF, 979px 73px #FFF, 1028px 1739px #FFF, 293px 1699px #FFF, 3px 176px #FFF, 302px 1060px #FFF, 960px 35px #FFF, 372px 179px #FFF, 1867px 1479px #FFF, 371px 598px #FFF, 1896px 1649px #FFF, 534px 53px #FFF, 1223px 1810px #FFF, 1183px 1864px #FFF, 294px 1797px #FFF, 698px 950px #FFF, 156px 99px #FFF, 451px 1335px #FFF, 326px 53px #FFF, 297px 1851px #FFF, 465px 1438px #FFF, 1683px 402px #FFF, 881px 470px #FFF, 328px 1362px #FFF, 268px 985px #FFF, 403px 493px #FFF, 834px 1319px #FFF, 207px 1096px #FFF, 1124px 520px #FFF, 1794px 1009px #FFF, 86px 643px #FFF, 1461px 1719px #FFF, 1497px 274px #FFF, 1694px 1323px #FFF, 758px 235px #FFF, 115px 1612px #FFF, 1174px 1162px #FFF, 1575px 204px #FFF, 661px 893px #FFF, 1300px 504px #FFF, 319px 199px #FFF, 769px 363px #FFF, 821px 1413px #FFF;
//  animation: animStar 150s linear infinite;
//}
//
//#stars3:after {
//  content: " ";
//  position: absolute;
//  top: 2000px;
//  width: 3px;
//  height: 3px;
//  background: transparent;
//  box-shadow: 1519px 38px #FFF, 1278px 529px #FFF, 1026px 1173px #FFF, 1736px 586px #FFF, 521px 856px #FFF, 1281px 360px #FFF, 1692px 758px #FFF, 1982px 1793px #FFF, 1315px 1783px #FFF, 593px 938px #FFF, 376px 517px #FFF, 260px 1737px #FFF, 1696px 1725px #FFF, 1200px 496px #FFF, 83px 771px #FFF, 1639px 1495px #FFF, 664px 919px #FFF, 987px 1810px #FFF, 1448px 202px #FFF, 55px 1585px #FFF, 1778px 1181px #FFF, 1948px 472px #FFF, 1750px 370px #FFF, 549px 1624px #FFF, 486px 1826px #FFF, 1642px 893px #FFF, 142px 1811px #FFF, 697px 1404px #FFF, 704px 268px #FFF, 1870px 1420px #FFF, 595px 123px #FFF, 618px 907px #FFF, 1105px 32px #FFF, 844px 1978px #FFF, 602px 915px #FFF, 442px 1671px #FFF, 1497px 175px #FFF, 673px 534px #FFF, 164px 1259px #FFF, 419px 15px #FFF, 1248px 1323px #FFF, 733px 375px #FFF, 800px 633px #FFF, 273px 119px #FFF, 1903px 1327px #FFF, 1296px 992px #FFF, 964px 309px #FFF, 1172px 116px #FFF, 229px 53px #FFF, 1061px 819px #FFF, 1438px 1640px #FFF, 567px 314px #FFF, 385px 1725px #FFF, 953px 1725px #FFF, 1110px 58px #FFF, 1603px 1128px #FFF, 443px 88px #FFF, 771px 330px #FFF, 979px 73px #FFF, 1028px 1739px #FFF, 293px 1699px #FFF, 3px 176px #FFF, 302px 1060px #FFF, 960px 35px #FFF, 372px 179px #FFF, 1867px 1479px #FFF, 371px 598px #FFF, 1896px 1649px #FFF, 534px 53px #FFF, 1223px 1810px #FFF, 1183px 1864px #FFF, 294px 1797px #FFF, 698px 950px #FFF, 156px 99px #FFF, 451px 1335px #FFF, 326px 53px #FFF, 297px 1851px #FFF, 465px 1438px #FFF, 1683px 402px #FFF, 881px 470px #FFF, 328px 1362px #FFF, 268px 985px #FFF, 403px 493px #FFF, 834px 1319px #FFF, 207px 1096px #FFF, 1124px 520px #FFF, 1794px 1009px #FFF, 86px 643px #FFF, 1461px 1719px #FFF, 1497px 274px #FFF, 1694px 1323px #FFF, 758px 235px #FFF, 115px 1612px #FFF, 1174px 1162px #FFF, 1575px 204px #FFF, 661px 893px #FFF, 1300px 504px #FFF, 319px 199px #FFF, 769px 363px #FFF, 821px 1413px #FFF;
//}






#title {
  position: absolute;
  font-weight: 700;
  top: 36%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: linear-gradient(#addfff, #3ce3fd, #84d9fb);
  background: linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
}

#subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#subtitle span:nth-of-type(1) {
  animation-name: animDont;
}

#subtitle span:nth-of-type(2) {
  animation-name: animLet;
}

#subtitle span:nth-of-type(3) {
  animation-name: animGo;
}

.preloader_star__logo{
  position: absolute;
  top: -50px;
  left: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

//
//@keyframes animStar {
//  from {
//    transform: translateY(0px);
//  }
//  to {
//    transform: translateY(-2000px);
//  }
//}
//
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animDont {
  0%, 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animLet {
  0%, 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

@keyframes animGo {
  0%, 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}








